.row {
  margin-right: 0px;
  margin-left: 0px;
  padding: 25px 0px 25px 0px;
}
.header-row-color{
    background-color: rgb(135,206,250);
    padding: 25px 0px 25px 0px;
}
.section-row-color{
    background-color: whitesmoke;
    padding: 25px 0px 25px 0px;
}
@media screen and (max-width: 991px) {
    .mobile-col-md-1, .mobile-col-md-2,.mobile-col-md-3{
        padding: 2px 0px 2px 0px;
    }
}
.table-responsive .table tr{
    background-color: rgb(224,255,255);
}
.table-responsive .table tr:hover{
    background-color: orange;
}
.modal_popup{
    background-color: rgb(70,130,180);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px 4px;
}
